<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="TimeOut" value="120"/>
    <add key="FTPRutaSubida" value="ftp://webserviceepj.somee.com/www.WebServiceEPJ.somee.com/BD/"/>
    <add key="FTPRutaDescarga" value="http://webserviceepj.somee.com/BD/"/>
    <add key="FTPUsername" value="caiquipa1206"/>
    <add key="FTPPassword" value="Cesar120690G."/>
    <add key="GoogleSMTP" value="smtp.gmail.com"/>
    <add key="GooglePORT" value="587"/>
    <add key="GoogleUSER" value="RvidhXlRDQCtfkvTDkakpFpAdcr5NQ63sI94s9TB+7Zu6zQzS2etidN1NVST1yBd"/>
    <add key="GooglePSWD" value="DNCU/kNrz3KaCSKVIVKGXeh4YeKOAklCYDWC1CXjEvA="/>
    <add key="GoogleSSL" value="1"/>
    <add key="URLPortal" value="http://webserviceepj.somee.com/Service1.svc/ConfirmarUsuario?"/>
  </appSettings>

  <connectionStrings>
    <!--<add name="connStr" connectionString="data source = AWNTS74; initial catalog = BelcorpPeru; user id = usr_mobile; password = Belcorp2020$ "/>-->
    <add name="connStr" connectionString="workstation id=EPJTEST.mssql.somee.com;packet size=4096;user id=caiquipa1206_SQLLogin_1;pwd=p9rk9qe7ls;data source=EPJTEST.mssql.somee.com;persist security info=False;initial catalog=EPJTEST "/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <webHttpBinding>
        <binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="WServiceEPJ.Service1">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WServiceEPJ.IService1"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior>
          -->
    <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
    <!--
          <serviceMetadata httpGetEnabled="true"/>
          -->
    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
    <!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".sqlite" mimeType="application/x-sqlite3" />
      <mimeMap fileExtension=".log" mimeType="application/text" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>